/Database
./Database
Backend/.vs/Backend/FileContentIndex/ec72a4ff-6ce1-474c-941e-abc821273c22.vsidx
Backend/.vs/Backend/FileContentIndex/read.lock
Backend/.vs/Backend/v17/.wsuo
Backend/.vs/ProjectSettings.json
Backend/.vs/slnx.sqlite
Backend/.vs/Backend/FileContentIndex/e7063a6a-e3d1-4b84-8a3e-16c7f20a71e1.vsidx
Backend/.vs/VSWorkspaceState.json
Backend/Elearning_ASMX_Services/.vs/Elearning_ASMX_Services/config/applicationhost.config
Backend/Elearning_ASMX_Services/.vs/Elearning_ASMX_Services/FileContentIndex/5843cd3a-5449-41d1-a02f-f7dac39eebc2.vsidx
Backend/Elearning_ASMX_Services/.vs/Elearning_ASMX_Services/FileContentIndex/633b53ef-e057-4b85-859f-1d728e88b7b7.vsidx
Backend/Elearning_ASMX_Services/.vs/Elearning_ASMX_Services/FileContentIndex/7418e1c1-f04d-4027-82b2-a38e6b7699db.vsidx
Backend/Elearning_ASMX_Services/.vs/Elearning_ASMX_Services/FileContentIndex/8d2fe3ed-1f9a-4440-b4e1-c0a1a7ac85e0.vsidx
Backend/Elearning_ASMX_Services/.vs/Elearning_ASMX_Services/FileContentIndex/d6206313-2d67-4ea2-86af-03fa4b0a6a1a.vsidx
Backend/Elearning_ASMX_Services/.vs/Elearning_ASMX_Services/FileContentIndex/read.lock
Backend/Elearning_ASMX_Services/.vs/Elearning_ASMX_Services/v17/.suo
Backend/Elearning_ASMX_Services/.vs/Elearning_ASMX_Services/v17/.wsuo
Backend/Elearning_ASMX_Services/Elearning_ASMX_Services.sln
Backend/Elearning_ASMX_Services/Elearning_ASMX_Services/bin/Elearning_ASMX_Services.dll
Backend/Elearning_ASMX_Services/Elearning_ASMX_Services/bin/Elearning_ASMX_Services.dll.config
Backend/Elearning_ASMX_Services/Elearning_ASMX_Services/bin/Elearning_ASMX_Services.pdb
Backend/Elearning_ASMX_Services/Elearning_ASMX_Services/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
Backend/Elearning_ASMX_Services/Elearning_ASMX_Services/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
Backend/Elearning_ASMX_Services/Elearning_ASMX_Services/bin/roslyn/csc.exe
Backend/Elearning_ASMX_Services/Elearning_ASMX_Services/bin/roslyn/csc.exe.config
Backend/Elearning_ASMX_Services/Elearning_ASMX_Services/bin/roslyn/csc.rsp
Backend/Elearning_ASMX_Services/Elearning_ASMX_Services/bin/roslyn/csi.exe
Backend/Elearning_ASMX_Services/Elearning_ASMX_Services/bin/roslyn/csi.exe.config
Backend/Elearning_ASMX_Services/Elearning_ASMX_Services/bin/roslyn/csi.rsp
Backend/Elearning_ASMX_Services/Elearning_ASMX_Services/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
Backend/Elearning_ASMX_Services/Elearning_ASMX_Services/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
Backend/Elearning_ASMX_Services/Elearning_ASMX_Services/bin/roslyn/Microsoft.CodeAnalysis.CSharp.Scripting.dll
Backend/Elearning_ASMX_Services/Elearning_ASMX_Services/bin/roslyn/Microsoft.CodeAnalysis.dll
Backend/Elearning_ASMX_Services/Elearning_ASMX_Services/bin/roslyn/Microsoft.CodeAnalysis.Scripting.dll
Backend/Elearning_ASMX_Services/Elearning_ASMX_Services/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
Backend/Elearning_ASMX_Services/Elearning_ASMX_Services/bin/roslyn/Microsoft.CSharp.Core.targets
Backend/Elearning_ASMX_Services/Elearning_ASMX_Services/bin/roslyn/Microsoft.DiaSymReader.Native.amd64.dll
Backend/Elearning_ASMX_Services/Elearning_ASMX_Services/bin/roslyn/Microsoft.DiaSymReader.Native.x86.dll
Backend/Elearning_ASMX_Services/Elearning_ASMX_Services/bin/roslyn/Microsoft.Managed.Core.targets
Backend/Elearning_ASMX_Services/Elearning_ASMX_Services/bin/roslyn/Microsoft.VisualBasic.Core.targets
Backend/Elearning_ASMX_Services/Elearning_ASMX_Services/bin/roslyn/Microsoft.Win32.Primitives.dll
Backend/Elearning_ASMX_Services/Elearning_ASMX_Services/bin/roslyn/System.AppContext.dll
Backend/Elearning_ASMX_Services/Elearning_ASMX_Services/bin/roslyn/System.Collections.Immutable.dll
Backend/Elearning_ASMX_Services/Elearning_ASMX_Services/bin/roslyn/System.Console.dll
Backend/Elearning_ASMX_Services/Elearning_ASMX_Services/bin/roslyn/System.Diagnostics.DiagnosticSource.dll
Backend/Elearning_ASMX_Services/Elearning_ASMX_Services/bin/roslyn/System.Diagnostics.FileVersionInfo.dll
Backend/Elearning_ASMX_Services/Elearning_ASMX_Services/bin/roslyn/System.Diagnostics.StackTrace.dll
Backend/Elearning_ASMX_Services/Elearning_ASMX_Services/bin/roslyn/System.Globalization.Calendars.dll
Backend/Elearning_ASMX_Services/Elearning_ASMX_Services/bin/roslyn/System.IO.Compression.dll
Backend/Elearning_ASMX_Services/Elearning_ASMX_Services/bin/roslyn/System.IO.Compression.ZipFile.dll
Backend/Elearning_ASMX_Services/Elearning_ASMX_Services/bin/roslyn/System.IO.FileSystem.dll
Backend/Elearning_ASMX_Services/Elearning_ASMX_Services/bin/roslyn/System.IO.FileSystem.Primitives.dll
Backend/Elearning_ASMX_Services/Elearning_ASMX_Services/bin/roslyn/System.Net.Http.dll
Backend/Elearning_ASMX_Services/Elearning_ASMX_Services/bin/roslyn/System.Net.Sockets.dll
Backend/Elearning_ASMX_Services/Elearning_ASMX_Services/bin/roslyn/System.Reflection.Metadata.dll
Backend/Elearning_ASMX_Services/Elearning_ASMX_Services/bin/roslyn/System.Runtime.InteropServices.RuntimeInformation.dll
Backend/Elearning_ASMX_Services/Elearning_ASMX_Services/bin/roslyn/System.Security.Cryptography.Algorithms.dll
Backend/Elearning_ASMX_Services/Elearning_ASMX_Services/bin/roslyn/System.Security.Cryptography.Encoding.dll
Backend/Elearning_ASMX_Services/Elearning_ASMX_Services/bin/roslyn/System.Security.Cryptography.Primitives.dll
Backend/Elearning_ASMX_Services/Elearning_ASMX_Services/bin/roslyn/System.Security.Cryptography.X509Certificates.dll
Backend/Elearning_ASMX_Services/Elearning_ASMX_Services/bin/roslyn/System.Text.Encoding.CodePages.dll
Backend/Elearning_ASMX_Services/Elearning_ASMX_Services/bin/roslyn/System.Threading.Tasks.Extensions.dll
Backend/Elearning_ASMX_Services/Elearning_ASMX_Services/bin/roslyn/System.ValueTuple.dll
Backend/Elearning_ASMX_Services/Elearning_ASMX_Services/bin/roslyn/System.Xml.ReaderWriter.dll
Backend/Elearning_ASMX_Services/Elearning_ASMX_Services/bin/roslyn/System.Xml.XmlDocument.dll
Backend/Elearning_ASMX_Services/Elearning_ASMX_Services/bin/roslyn/System.Xml.XPath.dll
Backend/Elearning_ASMX_Services/Elearning_ASMX_Services/bin/roslyn/System.Xml.XPath.XDocument.dll
Backend/Elearning_ASMX_Services/Elearning_ASMX_Services/bin/roslyn/vbc.exe
Backend/Elearning_ASMX_Services/Elearning_ASMX_Services/bin/roslyn/vbc.exe.config
Backend/Elearning_ASMX_Services/Elearning_ASMX_Services/bin/roslyn/vbc.rsp
Backend/Elearning_ASMX_Services/Elearning_ASMX_Services/bin/roslyn/VBCSCompiler.exe
Backend/Elearning_ASMX_Services/Elearning_ASMX_Services/bin/roslyn/VBCSCompiler.exe.config
Backend/Elearning_ASMX_Services/Elearning_ASMX_Services/DataModels/CourseData.cs
Backend/Elearning_ASMX_Services/Elearning_ASMX_Services/DataModels/UserCoursesData.cs
Backend/Elearning_ASMX_Services/Elearning_ASMX_Services/DataModels/UserData.cs
Backend/Elearning_ASMX_Services/Elearning_ASMX_Services/Elearning_ASMX_Services.csproj
Backend/Elearning_ASMX_Services/Elearning_ASMX_Services/Elearning_ASMX_Services.csproj.user
Backend/Elearning_ASMX_Services/Elearning_ASMX_Services/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
Backend/Elearning_ASMX_Services/Elearning_ASMX_Services/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Backend/Elearning_ASMX_Services/Elearning_ASMX_Services/obj/Debug/Elearning_ASMX_Services.csproj.AssemblyReference.cache
Backend/Elearning_ASMX_Services/Elearning_ASMX_Services/obj/Debug/Elearning_ASMX_Services.csproj.CopyComplete
Backend/Elearning_ASMX_Services/Elearning_ASMX_Services/obj/Debug/Elearning_ASMX_Services.csproj.CoreCompileInputs.cache
Backend/Elearning_ASMX_Services/Elearning_ASMX_Services/obj/Debug/Elearning_ASMX_Services.csproj.FileListAbsolute.txt
Backend/Elearning_ASMX_Services/Elearning_ASMX_Services/obj/Debug/Elearning_ASMX_Services.dll
Backend/Elearning_ASMX_Services/Elearning_ASMX_Services/obj/Debug/Elearning_ASMX_Services.pdb
Backend/Elearning_ASMX_Services/Elearning_ASMX_Services/obj/Release/.NETFramework,Version=v4.8.AssemblyAttributes.cs
Backend/Elearning_ASMX_Services/Elearning_ASMX_Services/obj/Release/Elearning_ASMX_Services.csproj.AssemblyReference.cache
Backend/Elearning_ASMX_Services/Elearning_ASMX_Services/packages.config
Backend/Elearning_ASMX_Services/Elearning_ASMX_Services/Properties/AssemblyInfo.cs
Backend/Elearning_ASMX_Services/Elearning_ASMX_Services/usersServices.asmx
Backend/Elearning_ASMX_Services/Elearning_ASMX_Services/usersServices.asmx.cs
Backend/Elearning_ASMX_Services/Elearning_ASMX_Services/Web.config
Backend/Elearning_ASMX_Services/Elearning_ASMX_Services/Web.Debug.config
Backend/Elearning_ASMX_Services/Elearning_ASMX_Services/Web.Release.config
Backend/Elearning_ASMX_Services/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/.signature.p7s
Backend/Elearning_ASMX_Services/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/build/net45/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.Extensions.props
Backend/Elearning_ASMX_Services/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/build/net45/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.props
Backend/Elearning_ASMX_Services/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/build/net46/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.Extensions.props
Backend/Elearning_ASMX_Services/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/build/net46/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.props
Backend/Elearning_ASMX_Services/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/content/net45/app.config.install.xdt
Backend/Elearning_ASMX_Services/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/content/net45/app.config.uninstall.xdt
Backend/Elearning_ASMX_Services/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/content/net45/web.config.install.xdt
Backend/Elearning_ASMX_Services/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/content/net45/web.config.uninstall.xdt
Backend/Elearning_ASMX_Services/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/content/net46/app.config.install.xdt
Backend/Elearning_ASMX_Services/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/content/net46/app.config.uninstall.xdt
Backend/Elearning_ASMX_Services/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/content/net46/web.config.install.xdt
Backend/Elearning_ASMX_Services/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/content/net46/web.config.uninstall.xdt
Backend/Elearning_ASMX_Services/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/lib/net45/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
Backend/Elearning_ASMX_Services/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/lib/net45/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
Backend/Elearning_ASMX_Services/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1.nupkg
Backend/Elearning_ASMX_Services/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/net45/install.ps1
Backend/Elearning_ASMX_Services/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/net45/uninstall.ps1
Backend/Elearning_ASMX_Services/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/csc.exe
Backend/Elearning_ASMX_Services/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/csc.exe.config
Backend/Elearning_ASMX_Services/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/csc.rsp
Backend/Elearning_ASMX_Services/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/csi.exe
Backend/Elearning_ASMX_Services/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/csi.rsp
Backend/Elearning_ASMX_Services/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/Microsoft.Build.Tasks.CodeAnalysis.dll
Backend/Elearning_ASMX_Services/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/Microsoft.CodeAnalysis.CSharp.dll
Backend/Elearning_ASMX_Services/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/Microsoft.CodeAnalysis.CSharp.Scripting.dll
Backend/Elearning_ASMX_Services/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/Microsoft.CodeAnalysis.dll
Backend/Elearning_ASMX_Services/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/Microsoft.CodeAnalysis.Scripting.dll
Backend/Elearning_ASMX_Services/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/Microsoft.CodeAnalysis.VisualBasic.dll
Backend/Elearning_ASMX_Services/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/Microsoft.CSharp.Core.targets
Backend/Elearning_ASMX_Services/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/Microsoft.DiaSymReader.Native.amd64.dll
Backend/Elearning_ASMX_Services/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/Microsoft.DiaSymReader.Native.x86.dll
Backend/Elearning_ASMX_Services/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/Microsoft.VisualBasic.Core.targets
Backend/Elearning_ASMX_Services/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/System.AppContext.dll
Backend/Elearning_ASMX_Services/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/System.Collections.Immutable.dll
Backend/Elearning_ASMX_Services/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/System.Diagnostics.StackTrace.dll
Backend/Elearning_ASMX_Services/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/System.IO.FileSystem.dll
Backend/Elearning_ASMX_Services/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/System.IO.FileSystem.Primitives.dll
Backend/Elearning_ASMX_Services/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/System.Reflection.Metadata.dll
Backend/Elearning_ASMX_Services/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/vbc.exe
Backend/Elearning_ASMX_Services/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/vbc.exe.config
Backend/Elearning_ASMX_Services/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/vbc.rsp
Backend/Elearning_ASMX_Services/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/VBCSCompiler.exe
Backend/Elearning_ASMX_Services/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/VBCSCompiler.exe.config
Backend/Elearning_ASMX_Services/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/csc.exe
Backend/Elearning_ASMX_Services/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/csc.exe.config
Backend/Elearning_ASMX_Services/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/csc.rsp
Backend/Elearning_ASMX_Services/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/csi.exe
Backend/Elearning_ASMX_Services/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/csi.exe.config
Backend/Elearning_ASMX_Services/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/csi.rsp
Backend/Elearning_ASMX_Services/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/Microsoft.Build.Tasks.CodeAnalysis.dll
Backend/Elearning_ASMX_Services/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/Microsoft.CodeAnalysis.CSharp.Scripting.dll
Backend/Elearning_ASMX_Services/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/Microsoft.CodeAnalysis.dll
Backend/Elearning_ASMX_Services/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/Microsoft.CodeAnalysis.Scripting.dll
Backend/Elearning_ASMX_Services/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/Microsoft.CodeAnalysis.VisualBasic.dll
Backend/Elearning_ASMX_Services/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/Microsoft.CSharp.Core.targets
Backend/Elearning_ASMX_Services/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/Microsoft.DiaSymReader.Native.amd64.dll
Backend/Elearning_ASMX_Services/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/Microsoft.DiaSymReader.Native.x86.dll
Backend/Elearning_ASMX_Services/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/Microsoft.Managed.Core.targets
Backend/Elearning_ASMX_Services/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/Microsoft.VisualBasic.Core.targets
Backend/Elearning_ASMX_Services/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/Microsoft.Win32.Primitives.dll
Backend/Elearning_ASMX_Services/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.AppContext.dll
Backend/Elearning_ASMX_Services/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Collections.Immutable.dll
Backend/Elearning_ASMX_Services/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Console.dll
Backend/Elearning_ASMX_Services/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Diagnostics.DiagnosticSource.dll
Backend/Elearning_ASMX_Services/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Diagnostics.FileVersionInfo.dll
Backend/Elearning_ASMX_Services/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Diagnostics.StackTrace.dll
Backend/Elearning_ASMX_Services/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Globalization.Calendars.dll
Backend/Elearning_ASMX_Services/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.IO.Compression.dll
Backend/Elearning_ASMX_Services/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.IO.Compression.ZipFile.dll
Backend/Elearning_ASMX_Services/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.IO.FileSystem.dll
Backend/Elearning_ASMX_Services/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.IO.FileSystem.Primitives.dll
Backend/Elearning_ASMX_Services/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Net.Http.dll
Backend/Elearning_ASMX_Services/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Net.Sockets.dll
Backend/Elearning_ASMX_Services/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Reflection.Metadata.dll
Backend/Elearning_ASMX_Services/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Runtime.InteropServices.RuntimeInformation.dll
Backend/Elearning_ASMX_Services/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Security.Cryptography.Algorithms.dll
Backend/Elearning_ASMX_Services/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Security.Cryptography.Encoding.dll
Backend/Elearning_ASMX_Services/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Security.Cryptography.Primitives.dll
Backend/Elearning_ASMX_Services/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Security.Cryptography.X509Certificates.dll
Backend/Elearning_ASMX_Services/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Text.Encoding.CodePages.dll
Backend/Elearning_ASMX_Services/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Threading.Tasks.Extensions.dll
Backend/Elearning_ASMX_Services/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.ValueTuple.dll
Backend/Elearning_ASMX_Services/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Xml.ReaderWriter.dll
Backend/Elearning_ASMX_Services/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Xml.XmlDocument.dll
Backend/Elearning_ASMX_Services/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Xml.XPath.dll
Backend/Elearning_ASMX_Services/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Xml.XPath.XDocument.dll
Backend/Elearning_ASMX_Services/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/vbc.exe
Backend/Elearning_ASMX_Services/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/vbc.exe.config
Backend/Elearning_ASMX_Services/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/vbc.rsp
Backend/Elearning_ASMX_Services/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/VBCSCompiler.exe
Backend/Elearning_ASMX_Services/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/VBCSCompiler.exe.config
Backend/Elearning_WCF_Services/.vs/Elearning_WCF_Services/config/applicationhost.config
Backend/Elearning_WCF_Services/.vs/Elearning_WCF_Services/FileContentIndex/002f1ae4-ee19-4358-bd58-ff53827f96ca.vsidx
Backend/Elearning_WCF_Services/.vs/Elearning_WCF_Services/FileContentIndex/69fa019c-69ed-4553-9c25-047362a47c45.vsidx
Backend/Elearning_WCF_Services/.vs/Elearning_WCF_Services/FileContentIndex/ad47e191-9c88-443e-85ed-0857d69d1ad8.vsidx
Backend/Elearning_WCF_Services/.vs/Elearning_WCF_Services/FileContentIndex/bcd11902-6d7e-43eb-b404-e83a794394ab.vsidx
Backend/Elearning_WCF_Services/.vs/Elearning_WCF_Services/FileContentIndex/read.lock
Backend/Elearning_WCF_Services/.vs/Elearning_WCF_Services/v16/.suo
Backend/Elearning_WCF_Services/.vs/Elearning_WCF_Services/v17/.suo
Backend/Elearning_WCF_Services/.vs/Elearning_WCF_Services/v17/.wsuo
Backend/Elearning_WCF_Services/Elearning_WCF_Services.sln
Backend/Elearning_WCF_Services/Elearning_WCF_Services/adminServices.svc
Backend/Elearning_WCF_Services/Elearning_WCF_Services/adminServices.svc.cs
Backend/Elearning_WCF_Services/Elearning_WCF_Services/bin/Elearning_WCF_Services.dll
Backend/Elearning_WCF_Services/Elearning_WCF_Services/bin/Elearning_WCF_Services.dll.config
Backend/Elearning_WCF_Services/Elearning_WCF_Services/bin/Elearning_WCF_Services.pdb
Backend/Elearning_WCF_Services/Elearning_WCF_Services/DataModels/CourseData.cs
Backend/Elearning_WCF_Services/Elearning_WCF_Services/Elearning_WCF_Services.csproj
Backend/Elearning_WCF_Services/Elearning_WCF_Services/Elearning_WCF_Services.csproj.user
Backend/Elearning_WCF_Services/Elearning_WCF_Services/IadminServices.cs
Backend/Elearning_WCF_Services/Elearning_WCF_Services/IService1.cs
Backend/Elearning_WCF_Services/Elearning_WCF_Services/obj/Debug/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
Backend/Elearning_WCF_Services/Elearning_WCF_Services/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
Backend/Elearning_WCF_Services/Elearning_WCF_Services/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Backend/Elearning_WCF_Services/Elearning_WCF_Services/obj/Debug/Elearning_WCF_Services.csproj.AssemblyReference.cache
Backend/Elearning_WCF_Services/Elearning_WCF_Services/obj/Debug/Elearning_WCF_Services.csproj.CoreCompileInputs.cache
Backend/Elearning_WCF_Services/Elearning_WCF_Services/obj/Debug/Elearning_WCF_Services.csproj.FileListAbsolute.txt
Backend/Elearning_WCF_Services/Elearning_WCF_Services/obj/Debug/Elearning_WCF_Services.csprojAssemblyReference.cache
Backend/Elearning_WCF_Services/Elearning_WCF_Services/obj/Debug/Elearning_WCF_Services.dll
Backend/Elearning_WCF_Services/Elearning_WCF_Services/obj/Debug/Elearning_WCF_Services.pdb
Backend/Elearning_WCF_Services/Elearning_WCF_Services/obj/Release/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
Backend/Elearning_WCF_Services/Elearning_WCF_Services/obj/Release/Elearning_WCF_Services.csproj.AssemblyReference.cache
Backend/Elearning_WCF_Services/Elearning_WCF_Services/Properties/AssemblyInfo.cs
Backend/Elearning_WCF_Services/Elearning_WCF_Services/Service1.svc
Backend/Elearning_WCF_Services/Elearning_WCF_Services/Service1.svc.cs
Backend/Elearning_WCF_Services/Elearning_WCF_Services/Web.config
Backend/Elearning_WCF_Services/Elearning_WCF_Services/Web.Debug.config
Backend/Elearning_WCF_Services/Elearning_WCF_Services/Web.Release.config
Front-end/WindowsFormsApp2/.vs/WindowsFormsApp2/FileContentIndex/e6bfe9f3-c017-49ab-b030-32e0015f3abf.vsidx
Front-end/WindowsFormsApp2/WindowsFormsApp2/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
Front-end/WindowsFormsApp2/WindowsFormsApp2/obj/Release/WindowsFormsApp2.csproj.AssemblyReference.cache
Backend/.vs/Backend/config/applicationhost.config
Back-end/.vs/Back-end/FileContentIndex/d963df67-b743-46a8-b182-bee1a13dc0fd.vsidx
Back-end/.vs/Back-end/FileContentIndex/ff0c0719-1307-44c3-bf76-ebf56f40d9bf.vsidx
Back-end/.vs/Back-end/FileContentIndex/c84484c3-dedc-4654-9def-a5342d39fbbd.vsidx
Back-end/.vs/Back-end/FileContentIndex/5ba0aa43-d12e-4750-963b-b631b0d4410b.vsidx
Back-end/.vs/Back-end/FileContentIndex/4847ab11-41ae-4789-ae31-aa323b824892.vsidx
Back-end/.vs/Back-end/FileContentIndex/2fe910aa-ce8a-4386-bb4b-16948682c9f3.vsidx
Back-end/.vs/Back-end/FileContentIndex/46fbf2e1-8d59-46a9-92ed-04c384c4431e.vsidx
Back-end/.vs/Back-end/FileContentIndex/0467a79c-1b0f-40dc-861c-09650ae4813a.vsidx
Back-end/.vs/Back-end/config/applicationhost.config
Back-end/.vs/Back-end/v17/.suo
Back-end/.vs/Back-end/FileContentIndex/c84484c3-dedc-4654-9def-a5342d39fbbd.vsidx
Back-end/.vs/Back-end/v17/.suo
