<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IadminServices" />
                <binding name="usersServicesSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="usersServicesSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:55215/adminServices.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IadminServices"
                contract="adminServicesReference.IadminServices" name="BasicHttpBinding_IadminServices" />
            <endpoint address="https://localhost:44358/usersServices.asmx"
                binding="basicHttpBinding" bindingConfiguration="usersServicesSoap"
                contract="userServicesReference.usersServicesSoap" name="usersServicesSoap" />
        </client>
    </system.serviceModel>
</configuration>